@model IEnumerable<Que.Models.Quiz>

@{
    ViewData["Title"] = "Dashboard Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Que</h1>
    <p>Select a quiz to get started</p>
</div>

