@model Quiz

<h2>Create New Quiz</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label><span class="text-danger">*</span>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label><span class="text-danger">*</span>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="card">
        <div class="card-header flex-between">
            <h2><i class="bi bi-bullseye"></i> Questions</h2>
                <button type="button" id="add-question-btn" class="btn-gradient">
                    <i class="bi bi-plus-lg"></i> Add Question
                </button>
        </div>

        <div id="questions-container"></div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Table" class="btn btn-secondary">Back to Table View</a>


</form>