@model IEnumerable<Que.Models.Quiz>

<div class="container">
    <h1>@ViewBag.CurrentViewName</h1>
    <table class='table table-striped'>
        <tr><th>Id</th><th>Name</th><th>Price</th><th>Description</th></tr>
        @foreach (var quiz in Model)
        {
            <tr>
                <td>@quiz.QuizId</td>
                <td>@quiz.Name</td>
                <td></td>
            </tr>
        }
    </table>
</div>
