@model Que.ViewModels.QuizesViewModel

<h2>Quiz List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var quiz in Model.Quizes)
    {
        <tr>
            <td>@quiz.Name</td>
            <td>@quiz.Description</td>
            <td>
                <a asp-action="Take" asp-route-id="@quiz.QuizId">View / Take</a>
            </td>
        </tr>
    }
    </tbody>
</table>
